@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border scroll-smooth;
}

@screen lg {
  .skill {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
}

.navbar-fixed {
  @apply fixed z-[9999] bg-dark bg-opacity-50 backdrop-blur shadow-inner shadow-lightDark-200;
  /* box-shadow : inset -1px 0 0 rgba(255, 255, 255, 0.003); */
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-primary;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.line-about {
  @apply w-[30px] lg:w-[40px] h-[2px] mx-6 bg-primary;
}

/* .mask {
  -webkit-mask-image: url(img/brush.png);
  mask-image: url(img/brush.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  @apply bg-primary max-w-[400px] lg:scale-125;
} */

.card {
  @apply flex flex-col justify-center items-center px-5 py-5 bg-lightDark-100 rounded-xl bg-opacity-25 hover:bg-lightDark-200 transition ease-in-out backdrop-blur;
}

.card p {
  @apply text-slate-200 text-base mt-3 lg:text-lg;
}

.card-img {
  @apply w-full h-auto;
}

.hover-underline-animation {
  @apply inline-block relative text-primary;
}

.hover-underline-animation::after {
  @apply content-[''] absolute w-full scale-x-0 h-1 bottom-1 left-0 bg-primary origin-bottom-right transition-transform duration-200 ease-out hover:scale-100 hover:origin-bottom-left;
}

.project-card {
  @apply flex flex-col my-4;
}

.project-card-description {
  @apply py-3 px-5 bg-lightDark-100  bg-opacity-25  transition ease-in-out backdrop-blur;
}

.project-card-description h2 {
  @apply text-slate-200 text-2xl font-poppins font-medium;
}

.btn {
  @apply bg-lightDark-200 text-primary font-medium text-center py-2 px-2 hover:bg-lightDark-300;
}

.sosmed a {
  @apply mx-2;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  @apply relative max-w-[1200px];
  position: relative;
  max-width: 1200px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  @apply absolute w-1 bg-lightDark-100 bg-opacity-25 top-0 bottom-0 -ml-1 -z-10;
  content: " ";
}

/* Container around content */
.wrap {
  @apply py-[10px] px-[40px] relative bg-inherit;
}

/* The circles on the timeline */
.wrap::after {
  content: "";
  @apply absolute w-[20px] h-[20px] -left-[12px] bg-primary top-[15px] rounded-[50%] z-10;
}

/* Add arrows to the right wrap (pointing left) */
.wrap::before {
  content: " ";
  @apply border-8 border-t-transparent border-r-lightDark-100 border-b-transparent border-l-transparent border-opacity-25 left-[31px] z-10 w-0 h-0 top-[22px] absolute;
  border-width: 10px 10px 10px 0;
}

/* The actual content */
.content {
  @apply bg-lightDark-100 backdrop-blur bg-opacity-25 py-5 px-7 relative rounded-md text-secondary hover:bg-lightDark-200;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    @apply left-[31px];
  }

  /* Full-width wraps */
  .wrap {
    @apply w-full pl-[70px] pr-[25px];
  }

  /* Make sure that all arrows are pointing leftwards */
  .wrap::before {
    @apply left-[61px];
  }

  /* Make sure all circles are at the same spot */
  .right::after {
    @apply left-[2px];
  }
}

.show {
  display: block !important;
}

.btn-active {
  @apply bg-lightDark-200 rounded;
}

.lomba {
  @apply hidden;
}

.pendidikan {
  @apply hidden;
}
